{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>VCodeTogether</title>
    <meta charset=utf-8>
    <meta name=description content="A Quasar Framework app">
    <meta name=format-detection content="telephone=no">
    <meta name=msapplication-tap-highlight content=no>
    <meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <link rel=icon type=image/png href={% static '/uploads/statics/app-logo-128x128.png'%}>
    <link rel=icon type=image/png sizes=16x16 href={% static '/uploads/statics/icons/favicon-16x16.png'%}>
    <link rel=icon type=image/png sizes=32x32 href={% static '/uploads/statics/icons/favicon-32x32.png'%}>
    <link rel=icon type=image/png sizes=96x96 href={% static '/uploads/statics/icons/favicon-96x96.png'%}>
    <link rel=icon type=image/ico href={% static '/uploads/statics/icons/favicon.ico'%}>
    <link href="{% static '/uploads/css/07d5b5c7.57acb647.css'%}" rel="stylesheet">
    <link href="{% static '/uploads/css/dfe6cbfa.40f4b13c.css'%}" rel="stylesheet">
    <link href="{% static '/uploads/css/app.fbb3d947.css'%}" rel="stylesheet">

    <base href=/ >
</head>
<body>
<div id=q-app>

</div>

<script type=text/javascript src="{% static '/uploads/js/07d5b5c7.685475f8.js'%}"></script>
<script type="text/javascript" src="{% static '/uploads/js/4b47640d.1adfa8e2.js' %}"></script>
<script type="text/javascript" src="{% static '/uploads/js/1c55cfb3.19803c88.js' %}"></script>
<script type=text/javascript src="{% static '/uploads/js/dfe6cbfa.cc44378e.js'%}"></script>
<script type=text/javascript src="{% static '/uploads/js/app.8e5e78f0.js'%}"></script>
<script type=text/javascript src="{% static '/uploads/js/runtime.224d3232.js'%}"></script>
<script type=text/javascript src="{% static '/uploads/js/vendor.66be8a83.js'%}"></script>
</body>
</html>