{%extends 'auth.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block title%}
    <title>Регистрация</title>
    {%endblock%}
</head>
<body>
       
    {%block form%}
    <form class="form_wrapper" method="POST">
        <p class="form-header">Регистрация</p>
        {% csrf_token %}
        <div>
        {%for field in form %}
        <div class="input-wrapper">
            {{field}}
            {{field.errors}}
        </div>

        {%endfor%}
        </div>
        <button class="submit-btn" type="submit">Регистрация</button>
        <div class="links">
            <p>Забыли пароль? <a href="{% url 'reset_pass'%}">Восстановить</a></p>
            <p>Есть аккаунт? <a href="{% url 'loginView'%}">Вход</a></p>
        </div>
    </form>
    {%endblock%}
</body>
</html>